:root {
	--background: #212121;
	--primary: #89dcff;
}

.open-panel-button {
	position: absolute;
	top: 20px;
	left: 10px;
}
.app,
body {
	overflow: hidden;
}

.picker-container {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 999999;
}

.adventure-logo {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* * {
	cursor: none;
} */

.modal-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999999;
}
