.login-modal-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 400px;
	width: 500px;
	background-color: #dfe6ed;
	z-index: 100000000;
	box-sizing: border-box;
	padding: 50px 30px 30px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.login-header-primary, 
.login-header-secondary {
	margin: 0;
	color: #4b5c6b;
}

.login-header-primary {
	font-size: 78px;
	font-weight: 800;
}

.login-header-secondary {
	font-size: 48px;
	font-weight: 400;
}

.login-button-container {
	display: flex;
	justify-content: space-between;
}

.login-button {
	width: 45%;
	height: 100px;
}

.login-button p {
	margin: 0;
	font-size: 12px;
	color: #4b5c6b;
	font-weight: 500;
}

.login-button-email,
.login-button-metamask {
	border-radius: 5px;
	width: 100%;
	height: 50px;
	font-size: 20px;
	margin-bottom: 10px;
	cursor: pointer;
}

.login-button-email {
	background-color: rgb(101, 88, 245);
	border: none;
	color:white;
}

.login-button-metamask {
	background-color: white;
	border: 2px solid rgba(101, 88, 245, 0.7);
	color:rgb(101, 88, 245);
}

.login-metamask-info {
	color: #7328c3 !important;
    cursor: pointer;
}

.login-email-input-container {
    width: 100%;
}

.login-email-input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #b8c4cf;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.checkmark-icon {
    border-radius: 5px;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
    background-color: white;
	border: 2px solid rgba(59, 181, 74, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark-icon img {
    width: 35px;
    height: 35px;
}

.metamask-header-primary {
    font-size: 56px;
	color: #4b5c6b;
    margin: 0;
}

.metamask-back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
}

.metamask-steps-container {
    background-color: #f7f9fa;
    padding: 20px;
    padding-bottom: 0px;
    margin: 40px 0 20px 0;
    position: relative;
}

.metamask-steps-container p {
    margin: 0;
    font-size: 14px;
    margin-bottom: 20px;
	color: #4b5c6b;

}

.metamask-step-5 {
    margin-top: 20px !important;
}

.metamask-steps-button {
    transform: translate(-10px, -10px);
}

.metamask-step-7:hover ~ #step7hover {
    display: block;
}

.metamask-step-details:hover ~ #detailshover {
    display: block;
}

.metamask-step-7:hover,
.metamask-step-details:hover {
    text-decoration: underline;
}

#step7hover,
#detailshover {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(150%);
    display: none;
}

.login-modal-close-modal {
	position: absolute;
	top: 5px;
	left: 5px;
}