.tower-building {
	width: 75px;
	height: 75px;
	position: absolute;
}

.tower-defense-panel-building-item {
	width: 75px;
	height: 75px;
	position: relative;
	margin: 2px;
}

.tower-defense-panel,
.tower-defense-panel-list {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80px;
	padding: 10px;
}

.projectile-transition-enter {
}

.projectile-transition-enter-active {
	/* transform: translate(50px, 100px); */
	transition: transform 300ms;
}
.projectile-transition-exit {
	opacity: 0;
}

.tower-unit-transition-enter {
}

.tower-unit-transition-enter-active {
	transform: translateX(100vw);
	transition: transform 10s;
	transition-timing-function: linear;
}
.tower-unit-transition-exit {
	opacity: 0;
}
